<footer class="text-gray-700">
  {% embed "@organisms/container/container.twig" %}
    {% block content %}
      <div class="block lg:flex py-12">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center mb-6 md:text-left">
          {% include "@atoms/logo/logo.twig" only %}
          <p class="mt-2 text-sm text-gray-500">
            <strong>Tel:</strong> 01743 730005</br>
            <strong>Email:</strong> <a href="mailto:info@sya.org.uk">info@sya.org.uk</a><br/>
            <strong>Address:</strong><br/>
            The New Lodge<br/>
            Upton Lane</br>
            Shrewsbury</br>
            SY2 5RR</p>
        </div>
        <div class="w-full">
          {{ footer_menu }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="bg-gray-200">
    {% embed "@organisms/container/container.twig" %}
      {% block content %}

        <div class="py-4 px-6 flex flex-wrap flex-col sm:flex-row">
          <p class="text-gray-500 text-sm text-center sm:text-left">© 2023 SYA<br/>
            <strong>Registered Charity Number</strong> <a class="text-gray-600 ml-1" rel="noopener noreferrer"href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5094756">1172685</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-grey-500" href="https://www.facebook.com/ShropshireYouthAssociation">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "facebook",
            size: 'x-large',
          } only %}
        </a>
        <a class="ml-3 text-grey-500" href="https://www.instagram.com/syaclubs/">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "instagram",
            size: 'x-large',
          } only %}
        </a>
        <a class="ml-3 text-grey-500" href="https://twitter.com/SYAclubs">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "twitter",
            size: 'x-large',
          } only %}
        </a>
      </span>
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</footer>
