@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
}

img {
  width: 100%;
}

.background-cover img {
  @apply w-full h-full object-cover;
}
.border-orange-500{
  border-color: rgb(249 115 22);
}
.bg-orange-500 {
  background-color: rgb(249 115 22);
}

.text-caveat {
  font-family: Caveat;
}

.bg-hexagon-grey {
  background-image: url( '/themes/custom/wingsuit/dist/app-drupal/images/bg-hexagon-grey.svg');
  background-repeat: repeat;
  background-size: 100px;
}
.bg-hexagon-orange {
  background-image: url( '/themes/custom/wingsuit/dist/app-drupal/images/bg-hexagon-orange.svg');
  background-repeat: repeat;
  background-size: 200px;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/poppins/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/poppins/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/poppins/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/poppins/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/poppins/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/poppins/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
  url('fonts/poppins/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/poppins/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/poppins/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/poppins/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/poppins/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* caveat */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/caveat/Caveat-Regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/caveat/Caveat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
