@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
}

img {
  width: 100%;
}

.background-cover img {
  @apply w-full h-full object-cover;
}
.border-orange-500{
  border-color: rgb(249 115 22);
}
.bg-orange-500 {
  background-color: rgb(249 115 22);
}

.text-caveat {
  font-family: Caveat;
}

.bg-hexagon {

}
