{# SETTINGS #}
{% set header_classes = ([
  'header-offset bg-white w-full z-30 top-0 mb-12 h-30',
  variant == 'fixed'? 'fixed w-full',
  variant == 'sticky'? 'sticky',
]) | sort | join(' ') | trim %}

{# TEMPLATE #}
<header class="{{ header_classes }}">
  {% embed "@organisms/container/container.twig" with {menu: menu, language_select: language_select, padding_bottom: 'none'} only%}
    {% block content %}
      <div class="flex py-5 justify-between md:flex-row h-20">
        <div class="w-1/6 md:w-1/6 max-w-xs md:max-w-7xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-5 5 70 40"
            height="120"
            width="120"
            class="absolute">
            <g fill="white" stroke="rgb(249 115 22)" stroke-width="4">
              <path id="a" d="M45 0H15L0 26l15 26h30l15-26z"/>

            </g>
          </svg>
          <div class="absolute mt-9 ml-7">
            {% include "@atoms/logo/logo.twig" only %}
          </div>
        </div>
        <div class="flex justify-end items-center flex-1 lg:hidden">
          {% include "@atoms/hamburger/hamburger.twig" only %}
        </div>
        <div class="flex-grow hidden text-black z-20 mt-2 sm:mt-6 bg-white absolute lg:static left-0 top-11 w-full lg:flex lg:justify-end lg:items-center lg:w-auto lg:block lg:mt-0 lg:bg-transparent" :class="{'block': menuIsOpen, 'hidden': !menuIsOpen}">
          {{ menu }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="border-4 border-orange-500 opacity-100 py-0"></div>
  <div class="max-w-5xl mx-auto w-full pl-40">
    <div class="breadcrumbs">{{ breadcrumb }}</div>
  </div>
</header>
