{# SETTINGS #}
{% set header_classes = ([
  'header-offset bg-gray-500 w-full z-30 top-0 text-white',
  variant == 'fixed'? 'fixed h-18 w-full',
  variant == 'sticky'? 'sticky',
]) | sort | join(' ') | trim %}

{# TEMPLATE #}
<header class="{{ header_classes }}">
  {% embed "@organisms/container/container.twig" with {menu: menu, language_select: language_select, padding_bottom: 'none'} only%}
    {% block content %}
      <div class="flex py-5 justify-between md:flex-row">
        <div class="w-1/6 md:w-1/6 max-w-xs md:max-w-7xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-5 5 70 40"
            height="120"
            width="120"
            class="absolute mt-2">
            <g fill="white" stroke="rgb(249 115 22)" stroke-width="4">
              <path id="a" d="M45 0H15L0 26l15 26h30l15-26z"/>

            </g>
          </svg>
          <div class="absolute mt-11 ml-7">
            {% include "@atoms/logo/logo.twig" only %}
          </div>
        </div>
        <div class="w-3/6 md:w-2/6 max-w-ws md:max-w-7xl">
            <div class="text-5xl text-white text-caveat ">
              All about youth
            </div>
        </div>
        <div class="flex justify-end items-center flex-1 lg:hidden">
          {% include "@atoms/hamburger/hamburger.twig" only %}
        </div>
        <div class="w-full flex-grow hidden text-black z-20 mt-2 sm:mt-6 bg-white absolute lg:static left-0 top-11 w-full lg:flex lg:justify-end lg:items-center lg:w-auto lg:block lg:mt-0 lg:bg-transparent" :class="{'block': menuIsOpen, 'hidden': !menuIsOpen}">
          {{ menu }}
        </div>
        <ul class="list-reset flex justify-end lg:flex-1 items-center hidden">
          <li>{{ language_select }}</li>
        </ul>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="border-4 border-orange-500 opacity-100 py-0 mb-12"></div>
<!--
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 240">
      <pattern id="p" width="90" height="52" patternUnits="userSpaceOnUse">
        <g fill="none" stroke="rgb(249 115 22)" stroke-width="2">
          <path id="a" d="M45 0H15L0 26l15 26h30l15-26z"/>
          <path d="M60 26h30"/>
          <use href="#a" x="90"/>
        </g>
      </pattern>
      <rect fill="url(#p)" width="100%" height="300px"></rect>
    </svg>-->

</header>
