{#
/**
 * @file
 * logo
 *
 * See logo.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}
<a class="w-12" href="{{ path('<front>') }}">
  <img src="{{ file_url('ws-assets://images/sya-header-logo.png') }}"
       alt="SYA Logo" class="w-16 yarn h-auto">
</a>
