{#
/**
 * @file
 * logo
 *
 * See logo.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}
<a class="w-12" href="{{ path('<front>') }}">
  <img src="{{ file_url('ws-assets://images/sya-logo.png') }}" alt="Brand Logo" class="w-24 yarn h-auto">
</a>
